<header [class.dark-theme]="themeService.getTheme() === 'dark'">
  <h1>Where in the world ?</h1>

  <div class="mode-switcher">
    <div class="toggle-container" [ngSwitch]="themeService.getTheme()">
      <button class="switcher" (click)="themeService.changeTheme(themeService.getTheme() === getThemeEnum().DARK ? getThemeEnum().LIGHT : getThemeEnum().DARK)">
        <ng-container *ngSwitchCase="'dark'">
          <i class="fa-regular fa-moon fa-2x dark-theme"></i>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <i class="fa-regular fa-lightbulb fa-2x"></i>
        </ng-container>
      </button>
    </div>

    <label for="modeToggle" class="toggle-font">{{
      themeService.getTheme() !== "dark" ? "Dark Mode" : "Light Mode"
    }}</label>
  </div>
</header>
