<header [class.dark-theme]="theme === 'dark'">
  <h1>Where in the world ?</h1>

  <div class="mode-switcher">
    <div class="toggle-container" [ngSwitch]="theme">
      <button class="switcher" (click)="switchMode()">
        <ng-container *ngSwitchCase="'dark'">
          <i class="fa-regular fa-moon fa-2x dark-theme"></i>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <i class="fa-regular fa-lightbulb fa-2x"></i>
        </ng-container>
      </button>
    </div>

    <label for="modeToggle" class="toggle-font">{{
      theme !== "dark" ? "Dark Mode" : "Light Mode"
    }}</label>
  </div>
</header>
