
header {
  background-color: var(--header-bg-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
}

.mode-switcher {
  display: flex;
  align-items: center;
}

.mode-switcher label {
  margin-right: 10px;
}

.toggle-container {
  display: inline-block;
  position: relative;
  width: 35px;
}

.switcher {
  background: none;  
  outline: none;
  border: none;
}

.switcher:hover {
  cursor: pointer;
}

.toggle-font {
  font-size: 20px;
}
