<div class="grid-container"  [ngClass]="{'dark-theme': theme === 'dark'}">
  <app-filter (onCountryChange)="filterByName($event)" (onSelectChange)="filterByRegion($event)"></app-filter>
  <div class="result-grid-container">
    <app-result-card
      *ngFor="let country of countries"
      [name]="country.name"
      [flag]="country.flags.png || country.flags.svg"
      [population]="country.population"
      [region]="country.region"
      [capital]="country.capital"
    ></app-result-card>
  </div>
</div>
